@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap");

.export-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 15px;
}

.preview-container {
    flex: 1;
    width: 100%;
}

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.menu-buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.menu-buttons-container button {
    width: 100%;
}

.import-collection,
.manage-conflicts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    height: 100%;
    width: 100%;
    padding: 0 15px 15px 15px;
}

.import-collection {
    align-items: center;
}

.manage-conflicts {
    gap: 10px;
}

.actions {
    display: flex;
    max-width: 100%;
    margin-top: 5px;
    gap: 10px;
}

.actions button {
    flex: 1;
}

/* Main screen */

.dropzone {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    min-height: 170px;
    border-radius: 8px;
    background-color: color-mix(in srgb, var(--framer-color-tint) 10%, transparent);
    line-height: 1;
    border: 1px dashed transparent;
}

.dropzone.dragging {
    border-color: var(--framer-color-tint);
}

.dropzone p {
    color: var(--framer-color-tint);
    font-weight: 600;
}

.file-input {
    visibility: hidden;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.logo {
    color: var(--framer-color-text-tertiary);
    background-color: rgba(0, 153, 255, 0.1);
    border-radius: 8px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex: 1;
    text-align: center;
    max-width: 160px;
    gap: 15px;
}

.intro h2 {
    line-height: 1;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--framer-color-text-primary);
}

.intro p {
    color: var(--framer-color-text-tertiary);
}

/* Manage conflicts screen */

.manage-conflicts .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.manage-conflicts .message {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.manage-conflicts .apply-to-all {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    width: fit-content;
    color: var(--framer-color-text-secondary);
}

.preview-container {
    background: color-mix(in srgb, transparent, var(--framer-color-bg-tertiary) 10%);
    border-radius: 8px;
    width: 100%;
    flex: 1;
    position: relative;
    user-select: none;
    overflow: hidden;
}

.preview-container-inner {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10px;
    overflow: hidden;
}

.preview-container-border {
    content: "";
    box-shadow: 0 0 0 1px var(--framer-color-divider) inset;
    border-radius: 8px;
    inset: 0;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.preview-container-gradient {
    background: linear-gradient(color-mix(in srgb, transparent, var(--framer-color-bg) 0%), var(--framer-color-bg));
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}

.preview-container-json {
    white-space: pre;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: var(--framer-color-text-secondary);
}

.back-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    color: var(--framer-color-text-tertiary);
    place-self: flex-start;
    margin-bottom: -5px;
}

.back-button:hover {
    color: var(--framer-color-text-secondary);
}

.footer-select {
    grid-column: 1 / 3;
    width: 100%;
}

[data-framer-theme="light"] .footer-select--unselected {
    color: #999999;
}

[data-framer-theme="dark"] .footer-select--unselected {
    color: #666666;
}
